body{
    background-color: #202020;
    color: white;
}

.navbar{
    background: #404040;
    border: 3px solid #fff;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    padding: 40px 40px;
}
.navbar ul li{
    list-style-type: none;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
}
.navbar ul li a:hover{
    color: green;
}

.container{
    max-width: none;
    margin: auto;
    padding: 10px 40px;
}

.card{
    background: black;
    border: 3px solid #fff;
    padding: 10px;
    margin-bottom: 2px;
}
.card a{
    color: white;
    text-decoration: none;
}

.input {
    background: wheat;
    padding: 10px;
    text-align: center;
}